.svgCurve {
    position: absolute;
    top: 0;
    left: -99px;
    width: 100px;
    height: 100%;
    fill: rgb(41, 41, 41);
    stroke: none;
    pointer-events: none;
    /* Let clicks pass through if needed, though usually it's background */

    @media (max-width: 768px) {
        display: none;
    }
}