.gradient-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(40deg, #000000, #0a0a0a);
    pointer-events: none;
    z-index: -1;
}

.svg-filters {
    position: absolute;
    width: 0;
    height: 0;
}

.gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
}

.g1,
.g2,
.g3,
.g4,
.g5,
.interactive {
    position: absolute;
    mix-blend-mode: hard-light;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    filter: blur(60px);
}

.g1 {
    background: radial-gradient(circle at center, rgba(255, 0, 128, 0.8) 0, rgba(255, 0, 128, 0) 50%) no-repeat;
    top: calc(50% - 350px);
    left: calc(50% - 350px);
    width: 700px;
    height: 700px;
    animation: moveVertical 30s ease infinite;
}

.g2 {
    background: radial-gradient(circle at center, rgba(0, 255, 255, 0.8) 0, rgba(0, 255, 255, 0) 50%) no-repeat;
    top: calc(50% - 300px);
    right: calc(50% - 300px);
    width: 600px;
    height: 600px;
    animation: moveInCircle 20s reverse infinite;
}

.g3 {
    background: radial-gradient(circle at center, rgba(255, 215, 0, 0.8) 0, rgba(255, 215, 0, 0) 50%) no-repeat;
    bottom: calc(50% - 300px);
    left: calc(50% - 300px);
    width: 600px;
    height: 600px;
    animation: moveInCircle 40s linear infinite;
}

.g4 {
    background: radial-gradient(circle at center, rgba(138, 43, 226, 0.8) 0, rgba(138, 43, 226, 0) 50%) no-repeat;
    bottom: calc(50% - 250px);
    right: calc(50% - 250px);
    width: 500px;
    height: 500px;
    animation: moveHorizontal 40s ease infinite;
}

.g5 {
    background: radial-gradient(circle at center, rgba(0, 255, 128, 0.8) 0, rgba(0, 255, 128, 0) 50%) no-repeat;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    height: 400px;
    animation: moveVertical 20s ease infinite;
}

.interactive {
    background: radial-gradient(circle at center, rgba(255, 100, 200, 0.9) 0, rgba(255, 100, 200, 0) 50%) no-repeat;
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(-50px);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50px) translateY(-10px);
    }

    50% {
        transform: translateX(50px) translateY(10px);
    }

    100% {
        transform: translateX(-50px) translateY(-10px);
    }
}