.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    gap: 40px;
    background-color: red;

    a {
        color: white;
        text-decoration: none;
    }

    @media (max-width: 768px) {
        gap: 10px;
        flex-wrap: wrap;
        /* Ensure it wraps if it still overflows */
    }
}