@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Stardom';
  src: url('/font/Stardom_Complete/Stardom_Complete/Fonts/OTF/Stardom-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/* Custom Styles */
body {
  overflow-x: hidden;
  background-color: #000000;
  color: #FFFFFF;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}